
{:pom {:group-id "respo",
       :artifact-id "markdown",
       :version "0.2.5-a1",
       :name "Respo Markdown converter"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
