{
  :source-paths ["src" "polyfill" "cli"]
  :cache-blockers #{cumulo-util.build}
  :dependencies [
    [mvc-works/hsl "0.1.2"]
    [mvc-works/shell-page "0.1.15"]
    [respo "0.13.4"]
    [cumulo/util "0.1.12"]
    [respo/ui "0.3.16"]
    [org.clojure/core.incubator "0.1.4"]
  ]
  :open-file-command [
    "subl"
    ["%s:%s:%s" :file :line :column]
  ]
  :dev-http {7000 "target/"}
  :builds {
    :client {
      :target :browser, :output-dir "target/", :asset-path "./"
      :modules {
        :client {:init-fn respo-md.main/main!}
      }
      :devtools {:after-load respo-md.main/reload!, :loader-mode :script}
      :release {
        :output-dir "dist/", :module-hash-names 8
        :build-options {:manifest-name "assets.edn"}
        :compiler-options {
          :externs ["externs/hljs.js"]
        }
      }
    }
    :page {
      :target :node-script, :output-to "target/page.js", :main respo-md.page/main!
      :devtools {:after-load respo-md.page/main!}
    }
  }
}