
@import url(https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dark.min.css);

body {
  margin: 0;
}

body * {
  box-sizing: border-box;
}

.md-p {
  margin: 16px 0;
}

.md-code-block {
  color: white;
  background-color: hsl(300, 80%, 20%);
  padding: 8px;
  display: block;
}
